.footer {
  background-color: #333;
}
.footer-img {
  width: 150px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer_content-container {
  display: flex;
}
.footer_content-container ul li {
  list-style: none;
  color: #fff;
  font-size: 14px;
}
.copyright-text {
  color: rgb(177, 172, 172);
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

/* @media only screen and (max-width: 800px) {
  .footer-container {
    flex-direction: row;
  }
} */
